[submodule "submodules/linuxserver/docker-plex"]
	path = submodules/linuxserver/docker-plex
	url = https://github.com/homeserversample/docker-plex.git
[submodule "submodules/almeidapaulopt/tsdproxy"]
	path = submodules/almeidapaulopt/tsdproxy
	url = https://github.com/homeserversample/tsdproxy.git
[submodule "submodules/immich-app/immich"]
	path = submodules/immich-app/immich
	url = https://github.com/homeserversample/immich.git
